.c-post-detail {
    min-height: 1000px;
}

.c-post-detail__heading {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 8px;
}

.c-post-detail__info {
    text-align: center;
    display: block;
    margin-bottom: 16px;
}

.c-post-detail p {
    margin: 8px 0px;
}

.c-post-detail__list-tag {
    margin-top: 32px;
}

.c-post-detail__share {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-post-detail__share i {
    cursor: pointer;
    margin: 0 8px;
}

.c-post-detail__author {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.c-box__title {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.c-box__content {
    display: flex;
    align-items: center;
    padding: 16px;
}

.c-box__image {
    width: 20%;
}

.c-box__content img {

    width: 64px;
    height: 64px;
    border-radius: 50%;
}