<div class="c-footer">
    <div class="c-get-in-touch">
        <div class="c-container">
            <div class="c-newsletter">
                <h4>Newsletter</h4>
                <p>
                    Keep up on our always evolving product features and technology. Enter your e-mail address and
                    subscribe to our newsletter.
                </p>
                <div class="c-input-group c-mt-16">
                    <input type="text" class="c-input" placeholder="Email Address">
                    <div class="c-input-group-append">
                        <span>GO!</span>
                    </div>
                </div>
            </div>
            <div class="c-lastest-post">
                <h4>Lastest Post</h4>
                <p>If you have any suggestions for the next updates, let us know.</p>
                <p>01:05 PM Sep 18th</p>
            </div>

            <div class="c-contact">
                <h4>Contact us</h4>
                <p>234 Street Name, City Name</p>
                <p>(800) 123-4567</p>
                <p>mail@example.com</p>
            </div>

            <div class="c-follow-us">
                <h4>Follow us</h4>
                <div class="c-social-list">
                    <div class="c-mr-8">
                        <i class="ti-facebook"></i>
                    </div>
                    <div class="c-mr-8">
                        <i class="ti-linkedin"></i>
                    </div>

                    <div>
                        <i class="ti-skype"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="c-center-align">2021 &copy; Frontend Master By Zoro</p>
</div>