<div class="c-header">
    <div class="c-container">
        <ul class="c-row">
            <li><a href="">Home</a></li>
            <li><a href="">Demos</a></li>
            <li><a href="">Elements</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Page</a></li>
            <li><a href="">Blog</a></li>
        </ul>

        <div class="c-search">
            <i class="ti-search"></i>
        </div>
    </div>
    <div class="c-input-search">
        <input type="text" name="header-search" id="header-search" class="c-input" placeholder="TYPE AND HIT ENTER...">
        <span class="ti-close"></span>
    </div>
</div>