<div class="c-heading c-mt-header">Frontend</div>
<div class="c-row c-clearfix c-list-post-horizontal">
    {{#each posts}}
    <div class="c-col-third">
        <div class="c-post-container">
            <div>
                <img src="https://www.okler.net/previews/porto/8.3.0/img/blog/medium/blog-1.jpg" />
            </div>

            <div class="c-post-content">
                <a href="#">{{ this.title }}</a>
                <span class="info">
                    <i class="ti-calendar c-mr-8"></i>
                    10th February 2021
                </span>
                <p>
                    {{ this.description }}
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>