<div class="c-heading c-mt-header">Frontend</div>
<div class="c-row c-clearfix c-list-post-horizontal">
    <div class="c-col-third">
        <div class="c-post-container">
            <div>
                <img src="https://www.okler.net/previews/porto/8.3.0/img/blog/medium/blog-1.jpg" />
            </div>

            <div class="c-post-content">
                <a href="#">Amazing Mountain</a>
                <span class="info">
                    <i class="ti-calendar c-mr-8"></i>
                    10th February 2021
                </span>
                <p>
                    Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>

    <div class="c-col-third">
        <div class="c-post-container">
            <div>
                <img src="http://themes.semicolonweb.com/html/canvas/demos/resume/images/blog/1.jpg" />
            </div>

            <div class="c-post-content">
                <a href="#">Amazing Mountain</a>
                <span class="info">
                    <i class="ti-calendar c-mr-8"></i>
                    10th February 2021
                </span>
                <p>
                    Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>

    <div class="c-col-third">
        <div class="c-post-container">
            <div>
                <img src="http://themes.semicolonweb.com/html/canvas/images/magazine/13.jpg" />
            </div>

            <div class="c-post-content">
                <a href="#">Amazing Mountain</a>
                <span class="info">
                    <i class="ti-calendar c-mr-8"></i>
                    10th February 2021
                </span>
                <p>
                    Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="c-heading">Backend</div>
<div class="c-row c-clearfix c-list-post-horizontal">
    <div class="c-col-third">
        <div class="c-post-container">
            <div>
                <img src="https://www.okler.net/previews/porto/8.3.0/img/blog/medium/blog-1.jpg" />
            </div>

            <div class="c-post-content">
                <a href="#">Amazing Mountain</a>
                <span class="info">
                    <i class="ti-calendar c-mr-8"></i>
                    10th February 2021
                </span>
                <p>
                    Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>

    <div class="c-col-third">
        <div class="c-post-container">
            <div>
                <img src="http://themes.semicolonweb.com/html/canvas/demos/resume/images/blog/1.jpg" />
            </div>

            <div class="c-post-content">
                <a href="#">Amazing Mountain</a>
                <span class="info">
                    <i class="ti-calendar c-mr-8"></i>
                    10th February 2021
                </span>
                <p>
                    Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>

    <div class="c-col-third">
        <div class="c-post-container">
            <div>
                <img src="http://themes.semicolonweb.com/html/canvas/images/magazine/13.jpg" />
            </div>

            <div class="c-post-content">
                <a href="#">Amazing Mountain</a>
                <span class="info">
                    <i class="ti-calendar c-mr-8"></i>
                    10th February 2021
                </span>
                <p>
                    Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="c-heading">Responsive Web</div>
<div class="c-row c-clearfix c-list-post-horizontal">
    <div class="c-col-third">
        <div class="c-post-container">
            <div>
                <img src="https://www.okler.net/previews/porto/8.3.0/img/blog/medium/blog-1.jpg" />
            </div>

            <div class="c-post-content">
                <a href="#">Amazing Mountain</a>
                <span class="info">
                    <i class="ti-calendar c-mr-8"></i>
                    10th February 2021
                </span>
                <p>
                    Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>

    <div class="c-col-third">
        <div class="c-post-container">
            <div>
                <img src="http://themes.semicolonweb.com/html/canvas/demos/resume/images/blog/1.jpg" />
            </div>

            <div class="c-post-content">
                <a href="#">Amazing Mountain</a>
                <span class="info">
                    <i class="ti-calendar c-mr-8"></i>
                    10th February 2021
                </span>
                <p>
                    Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>

    <div class="c-col-third">
        <div class="c-post-container">
            <div>
                <img src="http://themes.semicolonweb.com/html/canvas/images/magazine/13.jpg" />
            </div>

            <div class="c-post-content">
                <a href="#">Amazing Mountain</a>
                <span class="info">
                    <i class="ti-calendar c-mr-8"></i>
                    10th February 2021
                </span>
                <p>
                    Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>
</div>