<div class="c-mt-header">
    <div class="c-post-detail">
        <div class="c-post-detail__heading">
            <h2>{{ post.title }}</h2>
        </div>
        <span class="c-post-detail__info">
            <i class="ti-calendar c-mr-8"></i>
            10th February 2021
        </span>

        <p>
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
            consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
            commodo cursus magna, vel scelerisque nisl consectetur et.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit excepturi, error a unde sunt, ad
            maxime voluptate debitis deleniti nam amet molestiae, odit laborum veritatis! Explicabo fugiat quos animi
            aliquam?</p>
        <p>
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
            consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
            commodo cursus magna, vel scelerisque nisl consectetur et.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit excepturi, error a unde sunt, ad
            maxime voluptate debitis deleniti nam amet molestiae, odit laborum veritatis! Explicabo fugiat quos animi
            aliquam?</p>
        <p>
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
            consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
            commodo cursus magna, vel scelerisque nisl consectetur et.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit excepturi, error a unde sunt, ad
            maxime voluptate debitis deleniti nam amet molestiae, odit laborum veritatis! Explicabo fugiat quos animi
            aliquam?</p>
        <p>
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
            consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
            commodo cursus magna, vel scelerisque nisl consectetur et.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit excepturi, error a unde sunt, ad
            maxime voluptate debitis deleniti nam amet molestiae, odit laborum veritatis! Explicabo fugiat quos animi
            aliquam?</p>
        <div class="c-post-detail__list-tag">
            <div class="c-tag">
                <span>Web Design</span>
            </div>
            <div class="c-tag">
                <span>Web Design</span>
            </div>
            <div class="c-tag">
                <span>Web Design</span>
            </div>
        </div>

        <div class="c-post-detail__share">
            <p>Share this Post:</p>
            <div>
                <i class="ti-facebook"></i>
                <i class="ti-twitter-alt"></i>
                <i class="ti-pinterest-alt"></i>
                <i class="ti-google"></i>
                <i class="ti-rss"></i>
            </div>
        </div>

        <div class="c-post-detail__author">
            <div class="c-box">
                <div class="c-box__title">
                    <span>Posted by John Doe</span>
                </div>

                <div class="c-box__content">
                    <div class="c-box__image">
                        <img src="http://themes.semicolonweb.com/html/canvas/images/author/1.jpg" alt="author post">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et nobis
                        neque minus mollitia sit repudiandae ad repellendus recusandae blanditiis praesentium vitae ab
                        sint earum voluptate velit beatae alias fugit accusantium laboriosam nisi reiciendis deleniti
                        tenetur molestiae maxime id quaerat consequatur fugiat aliquam laborum nam aliquid. Consectetur,
                        perferendis?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>